<ul class="nav-list">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    {%- for section in site.sections %}
        {%- assign attr = section[0] %}
        {%- assign label = section[1] %}
        {%- assign pages = site.docs | where: 'category', attr | sort: 'order' %}
        {%- if pages.size > 0 %}
            <li class="nav-header">{{ label }}</li>
            {%- for page in pages %}
                <li><a href="{{ page.url | relative_url }}">{{ page.nav_title | default: page.title }}</a></li>
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
    {%- comment %}
    List additional links here. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content.
    {%- endcomment %}
</ul>
