<ul class="nav nav-pills flex-column flex-fill">
    <li class="nav-item">
        <a {% if page.url == "/" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ '/' | relative_url }}">Home</a>
    </li>
    {%- for section in site.sections %}
        {%- assign category = section[0] %}
        {%- assign label = section[1] %}
        {%- assign docs = site.docs | where: 'category', category | sort: 'order' %}
        {%- if docs.size > 0 %}
            <li class="nav-header text-uppercase fw-bold">{{ label }}</li>
            {%- for doc in docs %}
                <li class="nav-item">
                    <a {% if doc.url == page.url %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ doc.url | relative_url }}">{{ doc.nav_title | default: doc.title }}</a>
                </li>
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
</ul>
