{% assign faqs = include.faqs | default: page.faqs %}
{% if include.heading != nil %}
  {% assign heading = include.heading %}
{% else %}
  {% assign heading = page.faq_heading %}
  {% if heading == nil %}
    {% assign heading = "Frequently Asked Questions" %}
  {% endif %}
{% endif %}
{% if heading == false or heading == 'false' %}
  {% assign heading = nil %}
{% endif %}
{% if faqs and faqs.size > 0 %}
{% if heading %}<h2>{{ heading | markdownify }}</h2>{% endif %}
<dl>
{% for faq in faqs %}
<dt><strong>{{ faq.question | markdownify }}</strong></dt>
<dd>{{ faq.answer | markdownify }}</dd>
{% endfor %}
</dl>
{% endif %}
