<ul class="nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {%- for section in site.sections %}
        {%- assign attr = section[0] %}
        {%- assign label = section[1] %}
        {%- if site.categories[attr] %}
            {%- assign pages = site.categories[attr] | sort: 'order' %}
            <li class="nav-header">{{ label }}</li>
            {%- for page in pages %}
                <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.nav_title | default: page.title }}</a></li>
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
    {%- comment %}
    List additional links here. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content.
    {%- endcomment %}
</ul>
